DOCKER_USERNAME=
DOCKER_PASSWORD=

SERVER_HOST=
SERVER_USERNAME= 
SERVER_SSH_KEY=

----------------------------------------------------

SERVER_HOST=  public ip of ec2
SERVER_USERNAME= ubuntu
SERVER_SSH_KEY= testing.pem file er vitore ja ase 
ei tinta github secret hisebe add korbo github e giye

DOCKER_USERNAME=alamin078
DOCKER_PASSWORD=